# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env
.env.local
.env.*.local

# firebase admin private keys
serviceAccount*.json

# ignore ALL json EXCEPT server package files
*.json
!server/package.json
!server/package-lock.json

# BUT allow firebase web config (important)
!firebaseConfig.json

# vercel
.vercel/

# typescript
*.tsbuildinfo

# build output
build/
dist/

# native generated folders
/ios
/android

# server output (for backend)
server/node_modules/
server/dist/

# misc
app-example
